a{
    color:#DA1212;
}
a:hover, a:focus{
    color:#DA1212;
}
a:focus, a:focus {
    text-decoration: underline;
    box-shadow: none;
}

a:disabled{
    color:#DA1212;
}
.list-group-item.active{
    color:white !important;
    background-color: #DA1212 !important;
    border-color:#DA1212 !important;
}