.content:not(.truncated) ~ button.expandButton {
  display: none;
}

.btn:focus {
  box-shadow: none !important;
}

.removeFaded.content::after {
  display: none;
}
button{
  color:var(--cs-a-col);
  :focus :hover{
      color:var(--cs-a-col-hover);
  }
}