.dropdown-toggle::after {
  display:none;
}
.dropdown-toggle {
  color: var(--a-nav-link-col) !important;

  &:hover, &focus {
    color: var(--a-nav-link-col-hover);
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .dropdown-toggle {
    color: var(--a-nav-link-col) !important;

    &:hover, &focus {
      color: var(--a-nav-link-col-hover);
    }
  }
}
