<div class="row pt-5" *ngIf="!isLoading">
  <div class="col-lg-6 col-md-12 mb-4">
    <div class="card">
      <div class="card-body h-100">
        <p class="text-uppercase small mb-2">
          <strong>Browsers</strong>
        </p>
        <hr />
        <div class="d-flex text-center justify-content-center w-100 align-items-center mx-auto">
          <div class="d-none d-md-none d-lg-block"*ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewlg"
              [scheme]="colorScheme"
              [results]="cardBrowse"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
          <div class="d-none d-md-block d-lg-none" *ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewmd"
              [scheme]="colorScheme"
              [results]="cardBrowse"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
          <div class="d-block d-md-none d-lg-none" *ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewxxs"
              [scheme]="colorScheme"
              [results]="cardBrowse"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 mb-4">
    <div class="card">
      <div class="card-body h-100">
        <p class="text-uppercase small mb-2">
          <strong>Operating System</strong>
        </p>
        <hr />
        <div class="d-flex text-center justify-content-center w-100 align-items-center mx-auto">
          <div class="d-none d-md-none d-lg-block"*ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewlg"
              [scheme]="colorScheme"
              [results]="cardOS"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
          <div class="d-none d-md-block d-lg-none" *ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewmd"
              [scheme]="colorScheme"
              [results]="cardOS"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
          <div class="d-block d-md-none d-lg-none" *ngIf="!isLoading">
            <ngx-charts-number-card
              [view]="viewxxs"
              [scheme]="colorScheme"
              [results]="cardOS"
              [cardColor]="cardColor"
              (select)="onSelect($event)">
            </ngx-charts-number-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


