.header {
  background-color: var(--cs-header-navbar-border-top-color);
}
@media screen and (min-width: map-get($grid-breakpoints, md)) {
  nav.navbar {
    display: none;
  }
  .header {
    background-color: var(--cs-header-navbar-border-top-color);
  }
}

.navbar-brand img {
  @media screen and (max-width: map-get($grid-breakpoints, md)) {
    height: var(--ds-header-logo-height-xs);
  }
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  line-height: 1.5;
  color: var(--a-nav-link-col);
  &:hover, &focus {
    color: var(--a-nav-link-col-hover);
  }
}
